/.devcontainer
/.vs
/.vscode
/docs
/test/exe
/desktop.ini
/todo.md
**/data/output/**/*.tex*
**/data/output/**/**/*.tex*
**/data/output/**/**/**/*.tex*
**/data/output/**/*.pdf*
**/data/output/**/**/*.pdf*
**/data/output/**/**/**/*.pdf*